<launch>
  <arg name="gui" default="true" />
  <arg name="rviz" default="false" />
  <arg name="rviz_config" default="$(find rgbd_sim)/config/sim_rgbd.rviz" />

  <arg name="camera_x" default="0.0" />
  <arg name="camera_y" default="0.0" />
  <arg name="camera_z" default="1.20" />
  <arg name="camera_roll" default="0.0" />
  <arg name="camera_pitch" default="0.0" />
  <arg name="camera_yaw" default="0.0" />

  <arg name="person_x" default="3.0" />
  <arg name="person_y" default="0.0" />
  <arg name="person_z" default="0.0" />
  <arg name="person_yaw" default="1.57" />

  <arg name="motion_amplitude" default="1.0" />
  <arg name="motion_period" default="8.0" />
  <arg name="motion_rate" default="20.0" />

  <env name="GAZEBO_MODEL_PATH" value="$(find rgbd_sim)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rgbd_sim)/worlds/scene.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_rgbd_camera"
        args="-file $(find rgbd_sim)/models/rgbd_camera/model.sdf -sdf -model rgbd_camera -x $(arg camera_x) -y $(arg camera_y) -z $(arg camera_z) -R $(arg camera_roll) -P $(arg camera_pitch) -Y $(arg camera_yaw)"
        output="screen" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_person_target"
        args="-file $(find rgbd_sim)/models/person_target/model.sdf -sdf -model person_target -x $(arg person_x) -y $(arg person_y) -z $(arg person_z) -R 0 -P 0 -Y $(arg person_yaw)"
        output="screen" />

  <!-- Cadena TF coherente: base mecanica -> frame depth -> frame optico ROS. -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_camera_link_tf"
        args="$(arg camera_x) $(arg camera_y) $(arg camera_z) $(arg camera_yaw) $(arg camera_pitch) $(arg camera_roll) world camera_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_to_depth_frame_tf"
        args="0 0 0 0 0 0 camera_link camera_depth_frame" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_depth_to_optical_tf"
        args="0 0 0 -1.57079632679 0 -1.57079632679 camera_depth_frame camera_depth_optical_frame" />

  <node pkg="rgbd_sim" type="move_person.py" name="move_person" output="screen">
    <param name="model_name" value="person_target" />
    <param name="x_fixed" value="$(arg person_x)" />
    <param name="z_fixed" value="$(arg person_z)" />
    <param name="amplitude" value="$(arg motion_amplitude)" />
    <param name="period" value="$(arg motion_period)" />
    <param name="rate" value="$(arg motion_rate)" />
  </node>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rgbd_sim_rviz"
        args="-d $(arg rviz_config)"
        output="screen" />
</launch>
